<h1>新規投稿</h1>
あなたがオススメしたいUFOを投稿しよう！
<%= form_for(@product) do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>商品名</h4>
  <%= f.text_field :product_name %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>画像アップロード</h4>
  <%= form_with model: @product.product_images.new, local:true do |f| %>
  <%= f.attachment_field :image %>
  <% end %>


  <%= f.submit '投稿' %>
  

<% end %>

