
<% if user_signed_in? %>
<h1>商品</h1>

<%= @product.title %>
<%= @product.product_name %>
<%= @product.body %>
<%= @product.created_at.strftime('%Y/%m/%d %H:%M:%S') %>

<%= link_to "一覧へ戻る", products_path %>
<%= link_to "編集", edit_product_path(@product) %>
<%= link_to "削除", product_path(@product), method: :delete, data: {confirm: "ほんとに消す？"} %> 
<% end %>

<div class="comments">
<p>コメント件数：<%= @product.post_comments.count %></p>
<% @product.post_comments.each do |post_comment| %>
  
  <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% if post_comment.user == current_user %>
            <div class="comment-delete">
                <%= link_to "削除", product_post_comment_path(post_comment.product, post_comment), method: :delete %>
                
            </div>
        <% end %>
<% end %> 
<% if @product.favorited_by?(current_user) %>
    <p>
      <%= link_to product_favorites_path(@product), method: :delete do %>
        ♥<%= @product.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to product_favorites_path(@product), method: :post do %>
        ♡<%= @product.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  
</div>
<div class="new-comment">
<%= form_with(model:[@product, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>